@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@import url("/bg-01.svg");

.bg-custom {
  background-image: url("/images/bg-01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.button-cancel-with-children:hover {
  transition: 0.2s ease;
  opacity: 0.9;
  background-color: var(--color-gray-light);
}

@import "../styles/toast.css"; 

